h1{
    text-align: center
}
body{
    background-image: url("../imagens/diminua-meu-tamanho.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
.title{
    font-size: 25px;
    text-align: center
}
.search{
    height: 25px;
    width: 25px;
    margin: 0px;
}
.inSenha{
margin-top: 2px;
border:0px
}
.my-nav{
    margin: 0 auto;
    height: 30px;
    width: 244px;
}
.a1{
    height: 100%;
    width: 100%; 
}
.a2{
    height: 100%;
    width: 100%; 
    display: none;
}
#gabarito{
    display: none;
}
.painel{
    background-color: rgb(226, 17, 17);
    border-radius: 20px;
    border: 5px solid gray;
}
.armonya{
    display: none;
}
.nb{
    display: none;
}
@media screen and (max-width:500px) and (max-height:500px){
    .armonya{
        display: inline;
    }
    .fase12{
        display: none;
    }
}