body{
    background-image: url("../imagens/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}
.search{
    height: 25px;
    width: 25px;
    margin: 0px;
}
.inSenha{
margin-top: 2px;
border:0px
}
.my-nav{
    margin: 0 auto;
    height: 30px;
    width: 244px;
}
.a1{
    color: red;
    height: 100%;
    width: 100%; 
}
.a2{
    color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
#gabarito{
    color: red;
    display: none;
}